pandas
numpy
jupyterlab
seaborn
pandas-profiling
pandas-profiling[notebook]
statsmodels
scikit-learn
prophet
nb_black
plotly
sweetviz

pyarrow
pip

black
requests

pybaobabdt
pygraphviz

easygui

networkx
